* {
    outline: none;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

#searchTerm {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0px;
}

.list-container {
    height: 80px;
}

.list-container img {
    max-height: 80px;
    margin-right: 20px;
}